<div class="row m-auto">
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-subtitle mb-2">Interval Example
                    <div class="my-2" style="display: inline;">
                        <button class="btn btn-sm btn-danger" (click)="stopInterval()">stop interval</button>
                    </div>
                </h5>
                <div class="card-text">
                    <div class="my-2">
                        <ul>
                            <li *ngFor="let item of interavalEl">
                                {{item}}
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-subtitle mb-2">Timer Example
                    <div class="my-2" style="display: inline;">
                        <button class="btn btn-sm btn-danger" (click)="stopTimer()">stop interval</button>
                    </div>
                </h5>
                <div class="card-text">
                    <div class="my-2">
                        <ul>
                            <li *ngFor="let item of timerEl">
                                {{item}}
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>