<div class="row m-auto">
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-subtitle mb-2">From-Event Example</h5>
                <div class="card-text">
                    <div>
                        <input type="text" class="form-control" #username />
                    </div>
                    <div class="my-3">
                        User Name: <strong>{{userName}}</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>