<div class="app-component-wrapper">
    <div class="row m-auto">
        <ul class="menu-list">
            <li class="list-item" [routerLink]="['async-await']">async/await Operator</li>
            <li class="list-item" [routerLink]="['of-operator']">of Operator</li>
            <li class="list-item" [routerLink]="['from-operator']">from Operator</li>
            <li class="list-item" [routerLink]="['timer-interval-operator']">timer/interval Operator</li>
            <li class="list-item" [routerLink]="['from-event-operator']">from-event Operator</li>
            <li class="list-item" [routerLink]="['custom-observable']">Custom Observable</li>
            <li class="list-item" [routerLink]="['subject']">Subject</li>
            <li class="list-item" [routerLink]="['replaysubject']">ReplaySubject</li>
        </ul>
    </div>
</div>