<div class="row m-auto wrapper-layout">
    <div class="col-md-5 col-sm-12 col-xs-12">

        <div class="card">
            <div class="card-body">
                <h5 class="card-subtitle mb-2">Combine latest Example</h5>
                <div class="card-text">
                    <!-- <ul>
                        <li *ngFor="let info of data ">
                            {{info}}
                        </li>
                    </ul> -->
                    <button>Counter: {{'0'}}</button>
                </div>
            </div>
        </div>

    </div>
</div>