<div class="row m-auto">
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-subtitle my-2">Subject Example</h5>
                <div class="card-text">
                    <div>
                        <button class="btn btn-sm btn-danger" (click)="changeTitle()">update title</button>
                    </div>
                    <div class="my-3">
                        User Name: <strong>{{title}}</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>