<div class="row m-auto">
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-subtitle mb-2">Of Example1</h5>
                <div class="card-text">
                    <div class="my-2">
                        Of data
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-subtitle mb-2">Timer Example</h5>
                <div class="card-text">
                    <div class="my-2">
                        data
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>